// footer

.foot_container {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F4F4F4;
    margin-top: 20px;

    .foot_sns {
        display: flex;

        img {
            margin: 30px;
        }

        .foot_github {
            width: 60px;
        }

        .foot_figma {
            width: 43px;
        }

        .foot_notion {
            width: 52px;
        }
    }
}

// header

.head_container {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;

    .head_logo {
        display: flex;
        align-items: center;

        img {
            width: 200px;
        }
    }

    .head_nav {
        ul {
            display: flex;
            padding: 0;

            li {
                list-style: none;
                margin: 20px;
                font-size: 25px;
            }
        }
    }

    .head_loginUser {
        display: flex;
        align-items: center;

        .head_profile {
            width: 40px;
        }

        span {
            font-size: 25px;
        }
    }
}

.head_profileTog {
    background-color: #000;
    opacity: 0.7;
    width: 150px;
    height: 130px;
    position: absolute;
    right: 10px;
    top: 80px;

    ul {
        padding: 0;
        height: 100%;
        margin: 0;

        li {
            list-style: none;
            color: #fff;
            text-align: center;
            padding: 10px;

            a {
                text-decoration: none;
                color: #fff;

                &:hover {
                    cursor: pointer;
                    color: #FDDBDB;
                }
            }
        }

        hr {
            margin: 0;
        }
    }
}

// review card

.rev_container {
    width: 35%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #f1f1f1;
    box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.25);
    border-radius: 10px;
    background-color: #fff;

    .rev_img {
        width: 40%;
        height: 80%;
        border: 0.5px solid #ADADAD;
        display: flex;
        align-items: center;
        border-radius: 10px;
        background-color: #fff;

        img {
            width: 100%;
        }
    }

    .rev_content {
        width: 35%;
        height: 80%;
        align-content: center;
        overflow: auto;


        .rev_star {
            font-size: 20px;
        }
    }

    // .rev_nextBtn {
    //     width: 30px;
    //     height: 30px;
    //     color: #ADADAD;
    //     border: 0.5px solid #ADADAD;
    //     border-radius: 50%;
    //     font-size: 25px;
    //     display: flex;
    //     align-items: flex-end;
    //     justify-content: center;
    // }
}

// side bar

.side_container {
    width: 100%;
    height: 100%;
    border: 0.5px solid #ADADAD;
    border-radius: 10px;
    position: sticky;
    top: 100px;
    margin-top: 20px;

    .side_all {
        font-size: 20px;
        font-weight: bold;
        padding: 20px;
        margin-left: 10px;
    }

    .side_hr {
        border: 0.5px solid #ADADAD;
        width: 95%;
        height: 0;
        margin-left: 5px;
    }

    .side_category {
        margin: 0;
        padding: 0;

        .side_item {
            list-style: none;
            padding: 20px;
            margin-left: 10px;
            font-size: 20px;
        }
    }
}

// profile

.profile_container {
    width: 350px;
    height: 850px;
    display: grid;
    justify-content: center;
    align-content: space-around;
    border: 1px solid #f1f1f1;
    box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.25);
    border-radius: 10px;
    background-color: #FFFCF6;
    text-align: center;

    .profile_content {
        height: 350px;
        display: grid;
        align-content: space-evenly;
    }

    .profile_userDel {
        width: 150px;
        height: 50px;
        justify-self: center;
    }
}

// banner

.banner_container {
    width: 97%;
    height: 350px;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;

    .banner_img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        background-image: url('../images/Product/LG\ 코드제로\ R5\ 올인원타워\ 로봇청소기.png');
        filter: brightness(40%);
    }

    .banner_text {
        position: absolute;
        top: 80px;
        left: 80px;
        font-size: 45px;
        color: #fff;
        font-weight: bold;
    }
}

// login

#login_form {
    position: relative;
    display: grid;
    place-items: center;
    width: 350px;
    height: 550px;
    padding: 25px;
    background-color: #FDDBDB;
    box-shadow: 0px 15px 60px #FDDBDB;
    outline: 1px solid #FDDBDB;
    border-radius: 10px;

    #login_body {
        position: absolute;
        top: 50%;
        right: 25px;
        left: 25px;
        width: 230px;
        margin: -156px auto 0 auto;

        #login_welcome {
            text-align: center;
            line-height: 1;

            #login_welcome-1 {
                color: #005477;
                font-weight: 600;
                font-size: 40px;
            }

            #login_welcome-2 {
                color: #000;
                font-size: 15px;
                margin-top: 17px;
            }
        }

        #login_input {
            margin-top: 40px;

            .login_input_item {
                padding: 11px 25px;
                background: rgb(255, 255, 255, 0.6);
                border: 1px solid #005477;
                line-height: 1;
                border-radius: 8px;

                &:focus {
                    border: 1px solid #005477;
                }

                &:not(last-child) {
                    margin-bottom: 15px;
                }

                input {
                    width: 100%;
                    background: none;
                    font-size: 13.4px;
                    color: #005477;
                    border: none;
                    padding: 0;
                    margin: 0;

                    &:focus {
                        outline: none;
                    }
                }
            }
        }

        #login_submit {
            margin-top: 20px;

            #login_submitBtn {
                display: block;
                width: 100%;
                color: #005477;
                background-color: transparent;
                font-weight: 600;
                font-size: 14px;
                margin: 0;
                padding: 14px 13px 12px 13px;
                border: 0;
                outline: 1px solid #005477;
                border-radius: 8px;
                line-height: 1;
                cursor: pointer;
                transition: all ease-in-out .3s;

                &:hover {
                    transition: all ease-in-out .3s;
                    background-color: #005477;
                    color: #fff;
                    cursor: pointer;
                }
            }
        }

        #login_to_signup {
            text-align: center;
            margin-top: 10px;

            a {
                color: #005477;
                font-size: 12px;
                text-decoration: underline;

                &:hover {
                    transition: all ease-in-out .3s;
                    color: #fff;
                    cursor: pointer;
                }
            }

        }
    }

    #signup_body {
        @extend #login_body;
        position: absolute;
        top: 40%;
    }
}

// product page

.propg_main_container {
    display: flex;
    width: 100%;

    .propg_side_container {
        width: 10%;
        height: 50%;
        margin-left: 10px;
    }

    .propg_sec_container {
        width: 90%;
        margin-left: 10px;

        .propg_product_container {
            display: flex;
            justify-content: space-evenly;
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }
}

// product detail page

.prodetpg_info_container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.prodetpg_rev_container {
    padding: 20px;

    .prodetpg_rev_txt {
        // @extend .proInfo_proName;
        font-size: 32px;
        font-weight: 600;
        text-shadow: 2px 4px 10px #ADADAD;
        margin: 10px 0;
        margin-left: 7%;

        // animation: reviewTxt 2s linear;

        // @keyframes reviewTxt {
        //     0% {
        //         font-size: 32px;
        //     }

        //     25% {
        //         font-size: 40px;
        //     }

        //     50% {
        //         font-size: 50px;
        //     }

        //     75% {
        //         font-size: 40px;
        //     }

        //     100% {
        //         font-size: 32px;
        //     }
        // }
    }

    .prodetpg_rev_cont {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;

        @keyframes slideUp {
            from {
                opacity: 0;
                transform: translateY(100%);
            }

            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        animation: slideUp 2s ease-out;

        // animation: reviewTxt 2s linear;

        // @keyframes reviewTxt {
        //     0% {
        //         width: 200%;

        //     }

        //     25% {
        //         width: 180%;
        //     }

        //     50% {
        //         width: 150%;
        //     }

        //     75% {
        //         width: 120%;
        //     }

        //     100% {
        //         width: 100%;
        //     }
        // }
    }
}

// event page

.eventpg_container {
    p {
        font-size: 32px;
        font-weight: 600;
        text-shadow: 2px 4px 10px #ADADAD;
        margin: 20px 0;
        text-align: end;
        margin-right: 2%;
    }

    .eventpg_banner_container {
        display: grid;
        gap: 25px;
    }
}